# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.sample
!.env.sample
command.txt
venv/
env/
ENV/

# Local application data and scraping artifacts
data/
optibot/

# OS-specific files
.DS_Store
Thumbs.db